@font-face {
  font-family: 'iconfont';  /* Project id 2648720 */
  src: url('//at.alicdn.com/t/font_2648720_sxwmazydqp.woff2?t=1625538399202') format('woff2'),
       url('//at.alicdn.com/t/font_2648720_sxwmazydqp.woff?t=1625538399202') format('woff'),
       url('//at.alicdn.com/t/font_2648720_sxwmazydqp.ttf?t=1625538399202') format('truetype');
}

  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}