@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

$content-font-color:#333;
$search-font-color:#B7B7B7;
$content-bg:#f1f1f1;
$content-bg-2:#F5F5F5;
$content-notice-fontcolor:#777;
$priamry: #f5a623;
$light-fontColor:#999;
$medium-fontColor: #666;
$hightlight-fontColor: #E93B3B;
$btn-bgColor: #0091FF;
$bgColor: #fff;

$roboto: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;

$border-radius: 6px;
$border-radius-large:16px;


